@model CustomerOrderViewModel
    <div class="mb-4">
        <h3 style="text-align: center">Customer page</h3>
    </div>
<div class="container-fluid">
<div class="row justify-content-md-center">

    <div class="col-3">
        <form method="post">
            <h6>Return Article:</h6>
            <label asp-for="Article.Id">Scan:</label>
            <input type="hidden" asp-for="Customer.Id" value="@Model.Customer.Id"/>
            <input type="text" asp-for="Article.Id"/>
            <button type="submit" class="btn btn-primary" asp-controller="Order" asp-action="ReturnArticle">Return </button>
        </form>
    </div>
    <div class="col-6" style="text-align: center">
            <h5 class="card-title">@Model.Customer.FirstName @Model.Customer.LastName</h5>
            <p class="card-text">
                Email: @Model.Customer.Email
            </p>
            <p>
                Phone: @Model.Customer.PhoneNumber
            </p>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Customer.Id">Bewerken</a>
           
    </div>
       
        <div class="col-3">
            <form>
                <input type="hidden" asp-for="Customer.Id" value="@Model.Customer.Id"/>
                <button type="submit" class="btn-lg btn-success  " asp-controller="Order" asp-action="Index">Create new order</button>
            </form>
        </div>
    </div>
</div>
<div class="mt-4">
    <h5 style="text-align: center">Personal Orders: </h5>
</div>
<div class="pre-scrollable">
    <div class="container">
       
        <div class="row p-5 " >

            @foreach (var order in Model.Customer.Orders.OrderByDescending(order => order.CreatedAt))
            {
                var notDone = new bool();
                @foreach (var orderLine in order.OrderLines)
                {
                    if (orderLine.ReturnedAt == null)
                    {
                        notDone = true;
                    }
                }
                if (notDone)
                {
                    <div class="col-5 rounded border p-3 mt-3" style="background-color: lightcoral">
                        <form>
                            <p style="text-align: center">Not fully returned</p>
                            <label asp-for="Order.Id">Order Id:</label>
                            <input type="text" readonly class="form-control-plaintext" asp-for="Order.Id" value="@order.Id" />
                            <label for="createTime">Created:</label>
                            <input type="text" readonly class="form-control-plaintext" id="createTime" value="@order.CreatedAt" />
                            <button type="submit" asp-controller="Order" asp-action="GetOrder" class="btn btn-primary list-group-item ">Extra Info</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class= "col-5 rounded border p-3 mt-3" style="background-color: lightgreen">
                        <form>
                            <p style="text-align: center">Returned</p>
                            <label asp-for="Order.Id">ID:</label>
                            <input type="text" readonly class="form-control-plaintext" asp-for="Order.Id" value="@order.Id" />
                            <label for="createTime">Created:</label>
                            <input type="text" readonly class="form-control-plaintext" id="createTime" value="@order.CreatedAt" />
                            <button type="submit" asp-controller="Order" asp-action="GetOrder" class="btn btn-primary list-group-item ">Extra Info</button>
                        </form>
                    </div>
                }
         
               <div class="col-1"></div>
            }
        </div>
    </div>
</div>
