@model VivesRental.Model.Customer


<h1>Customer details</h1>

<p>Info of Customer @Model.FirstName   @Model.LastName</p>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName  @Model.LastName</h5>
        <p class="card-text">
            @Model.Email

        </p>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Bewerken</a>
        <a class="btn btn-danger deleteButton" data-toggle="modal"  data-id ="@Model.Id" data-target="#myModal">
            Remove
        </a>

    </div>
    <div class="card-footer">
        @foreach (var order in @Model.Orders)
        {
            <div class="list-group">
                @order.CreatedAt
            </div>
        }
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Ben je zeker dat je deze klant wilt verwijderen?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form method="post" asp-action="Delete" asp-controller="Customer">
                    <input type="hidden" id="CustomerId" name="id" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">nee</button>
                    <input type="submit" class="btn btn-light" value="ja" />
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts
{

    <script>
        //JQUERRY
        // als mijn pagina geladen is
        $(function() {
            //Rigistreer de click events op de delete button
            $(".deleteButton").on("click",
                function() {
                    //wanneer er op de knop delete is geklikt doe....
                    var customerId = $(this).data("id");
                    //Stop de personId id in from
                    $("#CustomerId").val(customerId);
                });
        });
    </script>
}