@model CustomerOrderViewModel

<div class="container ">
    <div >
        <a class="btn-lg btn-success float-right" asp-action="Create">New Customer</a>
    </div>
    <div >
        <h2 class="mb-5" style="text-align: center">Customers</h2>
    </div>
    
    <div class=" pre-scrollable col-12 border p-3 mt-3" style="max-height: 75vh" >

        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    Firstname
                </th>
                <th>
                    Lastname
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>

                </th>
            </tr>


            @foreach (var customer in Model.AllCustomers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNumber</td>

                    
                    <form>
                        <input type="hidden" asp-for="@Model.CustomerId" value="@customer.Id"/>
                        <td class="text-right">
                            <button type="submit" class="btn btn-primary" asp-action="CustomerDetails">Customer page</button>
                        </td>
                    </form>
                </tr>
            }
        </table>
    </div>
</div>