@model CustomerOrderViewModel
    <div class="mb-5">
        <h3 style="text-align: center">New order for:  @Model.Customer.FirstName  @Model.Customer.LastName</h3>
    </div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-controller="Order" asp-action="AddOrderLine">
                <input type="hidden" asp-for="@Model.Customer.Id" value="@Model.Customer.Id" />

                <label asp-for="Article.Id">Scan:</label>
                <input type="text" asp-for="Article.Id" value="" />
                <button type="submit" class="btn btn-primary">Add Article</button>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <p>Test ID's (available articles)</p>
            <div class="pre-scrollable small" style="max-height: 5vh">

                @foreach (var article in Model.AvailableArticles)
                {
                    <p>@article.Id</p>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <div class="m-5 text-center">
        <h4>Available articles:</h4>
    </div>
    <div class=" pre-scrollable">
        <div class="container">
            <div class="row " style="padding-bottom: 20px">
                @foreach (var product in Model.ProductResults)
                {
                    <div class="col-2 form-group">
                        <form asp-controller="Order" asp-action="AddOrderLine">
                            <input type="hidden" asp-for="@Model.Customer.Id" value="@Model.Customer.Id"/>
                            <input type="hidden" asp-for="@Model.Product.Id" value="@product.Id"/>
                            <button type="submit" class=" btn btn-primary">
                                @product.Name
                                <p>Amount: @product.NumberOfAvailableArticles</p>
                            </button>

                        </form>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
<div class="mt-5 text-center">
    <h4>Order articles:</h4>
</div>
<div class="list-group ">
    @if (Model.OrderArticles == null)
    {
    <p class="list-group-item">Empty</p>
    }
    else if (Model.OrderArticles.Count == 0)
    {
    <p class="list-group-item">Empty</p>
    }
    else
    {
        <div class="mb-2">
            <form method="post">
                <input type="hidden" asp-for="@Model.Customer.Id" value="@Model.Customer.Id"/>
                <span class="float-right">
                    <button type="submit" asp-action="CreateOrder" class="btn btn-success btn-lg"> Confirm order</button>
                </span>
            </form>
        </div>
        <div class="container " >
            <div class="row">
                @foreach (var article in Model.OrderArticles)
                {
                    <div class="col-2">
                        <form>
                            <input type="hidden" asp-for="@Model.Customer.Id" value="@Model.Customer.Id" />
                            <input type="hidden" asp-for="@Model.Article.Id" value="@article.Id" />
                            <button type="submit" asp-action="DeleteOrderLine" class=" btn-lg btn-outline-dark btn-group-vertical mb-3 ">@article.Product.Name</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    }
</div>