@model VivesRental.Model.Product

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                @Model.Description

            </p>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Bewerken</a>
            <a class="btn btn-danger deleteButton" data-toggle="modal" data-id="@Model.Id" data-target="#myModal">
                Verwijderen
            </a>
            <a class="btn btn-default" asp-controller="Article" asp-action="ArticleList" asp-route-id =" @Model.Id">Articles</a>
        </div>
        <div class="card-footer">
          Articles: @Model.Articles.Count
        </div>
    </div>