@using VivesRental.Model
@model ArticleViewModel
<!DOCTYPE html>

<body>
<h3 style="text-align: center">Product details</h3>
    

<div class="container">

    <div class="row ">
        
        <div class="col-4">
            <h5 class="card-title" style="text-align: center">@Model.Product.Name</h5>
            <label for="descript">Description:</label>
            <div id="descript">
                 @Model.Product.Description
            </div>
        </div>
        <div class="col-5 ">

            <div class="m-2">
                Manufacturer:    @Model.Product.Manufacturer
            </div>
            <div class="m-2">
                Publisher:    @Model.Product.Publisher
            </div>
            <div class="text-center">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Product.Id">Edit product</a>
           </div>
        </div>


        <div class="col-3">
            <div class="card bg-success  float-right">
                <form method="post">

                    <label asp-for="Count">Add new articles to stock:</label>
                    <input asp-for="Count" type="number" min="0" value="" placeholder="Aantal?" class="form-control"/>
                    <input type="hidden" asp-for="Product.Id" value="@Model.Product.Id"/>

                    <input type="submit" class="btn btn-primary" value="Create" asp-controller="Article" asp-action="CreateArticle"/>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-12 border p-3 mt-3 ">
    <div class="pre-scrollable" style="max-height: 60vh">
        <table class="table table-striped border table-sm ">
            <thead>
            <tr class="table-secondary">
                <th>
                    Article ID
                </th>
                <th>
                    Status
                </th>
                <th>
                    Change status
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
            </thead>

            <tbody>

            @foreach (var article in Model.Product.Articles)
            {
                <form method="post">
                    <input type="hidden" asp-for="ArticleId" value="@article.Id"/>
                    <input type="hidden" asp-for="Product.Id" value="@article.ProductId"/>
                    <tr>
                        <td>@article.Id</td>
                        <td>@article.Status</td>
                        <td>
                            <div class="dropdown">

                                <select asp-for="status">
                                    @foreach (var status in Html.GetEnumSelectList<ArticleStatus>())
                                    {
                                        <option>@status.Text</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary" asp-controller="Article" asp-action="ChangeStatus" value="Change">
                        </td>
                        <td>
                            <input type="submit" class="btn btn-danger" asp-controller="Article" asp-action="Delete" value="Delete">
                        </td>

                    </tr>
                </form>
            }
            </tbody>

        </table>
    </div>
</div>


</body>

@section Scripts
{

    <script>
        //JQUERRY
        // als mijn pagina geladen is
        $(function() {
            //Rigistreer de click events op de delete button
            $(".deleteButton").on("click",
                function() {
                    //wanneer er op de knop delete is geklikt doe....
                    var productId = $(this).data("id");
                    //Stop de personId id in from
                    $("#ProductId").val(productId);
                });

        });

    </script>
}