@using VivesRental.Model
@model ArticleViewModel

<h3 style="text-align: center">@Model.Article.Product.Name</h3>


<div class="col-12 border p-3 mt-3 ">

    <table class="table table-striped border table-sm ">
        <thead>
        <tr class="table-secondary">
            <th>
                Article ID
            </th>
            <th>
                Status
            </th>
            <th>
                Change status
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
        </thead>

        <tbody>

        <form method="post">
            <input type="hidden" asp-for="ArticleId" value="@Model.Article.Id"/>
            <input type="hidden" asp-for="Product.Id" value="@Model.ProductId"/>
            <input type="hidden" asp-for="FromGetArticle" value="true"/>
            <tr>
                <td>@Model.Article.Id</td>
                <td>@Model.Article.Status</td>
                <td>
                    <div class="dropdown">

                        <select asp-for="status">
                            @foreach (var status in Html.GetEnumSelectList<ArticleStatus>())
                            {
                                <option>@status.Text</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" asp-controller="Article" asp-action="ChangeStatus" value="Change">
                </td>
                <td>
                    <input type="submit" class="btn btn-danger" asp-controller="Article" asp-action="Delete" value="Delete">
                </td>

            </tr>
        </form>

        </tbody>

    </table>

</div>

<div>
    <h5 class="mt-5" style="text-align: center">Rent History:</h5>
</div>
<div class="pre-scrollable">
    <ul class="list-group">
        @foreach (var orderLine in Model.Article.OrderLines.OrderByDescending(orderLine => orderLine.RentedAt))
        {
            if (@orderLine.ReturnedAt.HasValue)
            {
                <li class="list-group-item list-group-item-success">
                    <div>Rented by: @orderLine.Order.CustomerFirstName @orderLine.Order.CustomerLastName</div>
                    <div class="row">
                        <div class="col-4">Rented at: @orderLine.RentedAt</div>
                        <div class="col-4">Returned at: @orderLine.RentedAt</div>
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item list-group-item-danger">
                    <div>Rented by: @orderLine.Order.CustomerFirstName @orderLine.Order.CustomerLastName</div>
                    <div class="row">
                        <div class="col-4">Rented at: @orderLine.RentedAt</div>
                        <div class="col-4">NOT RETURNED</div>
                    </div>
                </li>

            }

        }
    </ul>
</div>